<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/videos/' %} active {% endif %}"><a href="{{ "/videos/" | absolute_url }}">Videos</a></li>
  <li class="{% if page.url contains '/links/' %} active {% endif %}"><a href="{{ "/links/" | absolute_url }}">Links</a></li>
  <li class="{% if page.url contains '/apps/' %} active {% endif %}"><a href="{{ "/apps/" | absolute_url }}">Apps</a></li>
</ul>
